* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

#form {
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#form div {
  margin-bottom: 15px;
}

#uname,
#pass {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
#uname:focus,
#pass:focus {
  border-color: rgb(35, 125, 228);
  outline: none;
}
#btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(56, 133, 220);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

#btn:hover {
  background-color: rgb(11, 106, 221);
}
